@import "tailwindcss";

:root {
  --background: #0B101B;
  --foreground: #ededed;
  --neon-pink: #FF2E63;
  --neon-cyan: #00E5FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-pink: var(--neon-pink);
  --color-neon-cyan: var(--neon-cyan);
  --color-neon-dark: #0B101B;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}